.ngw-feature-attachment-image-thumbnail-text-container {
    opacity: 0;
}

.ngw-feature-attachment-image-thumbnail-text-container:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.45);
    cursor: pointer;
}
