.ngw-feature-attachment-editor {
    display: flex;
    flex-direction: column;
    height: 100%;

    > .action-toolbar {
        padding: 1em;
    }

    > span {
        display: block;
        flex-grow: 1;
        min-height: 0;

        > .ant-upload {
            display: block;
            height: 100%;
        }
    }

    .ant-table table {
        > thead > tr,
        > tbody > tr {
            td {
                vertical-align: top;
            }

            .preview {
                padding: 0;
                width: 0;

                &::before {
                    display: none;
                }

                .ant-image {
                    margin: 8px;
                }
            }

            .name {
                width: 40%;
            }

            .description {
                padding-right: 0;
                width: 60%;

                &::before {
                    display: none;
                }
            }

            .size {
                width: 0;
                line-height: 32px;
                text-align: right;
                white-space: nowrap;
            }
        }
    }
}

.ngw-feature-attachment-carousel-modal {
    top: 0;
    margin: 0;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    > .ant-modal-content {
        box-shadow: none;
        background-color: transparent;
        padding: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        > .ant-modal-close {
            height: 32px;
            width: 32px;
            border-radius: 100%;
        }
        > .ant-modal-body
            > .ngw-feature-attachment-carousel-container
            > .ant-carousel
            > .slick-slider {
            > .icon {
                position: absolute;
                top: 50%;
                right: 12px;
                border-radius: 100%;
                background-color: rgba(0, 0, 0, 0.2);
                color: white;
                font-size: 30px;
            }
            > .slick-list {
                height: 100vh;

                > .slick-track > .slick-slide {
                    display: flex !important;
                    align-items: center !important;
                    justify-content: center !important;
                    height: 100vh;
                    width: 100vw;
                }
            }
        }

        > .slick-dots-bottom {
            position: absolute;
            bottom: 20px;
        }
    }
}